/* z-index note:
  rewrite curtain: 1
*/

.untouchable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.shadow {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}
.modal {
  /* display: none; */
  position: fixed;
  /* z-index: 4; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition-duration: 0.5s;
}

html,
body,
#content {
  width: 100%;
  margin: 0;
}
/* #desktop-content {
  background-color: blue;
} */
