.sketcher-col {
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 1px;
  border-left: 1px grey solid;
}
.sketcher-row {
  pointer-events: none;
  position: absolute;
  left: 0;
  height: 1;
  border-top: 1px grey solid;
}
#sketcher img:hover {
  cursor: none;
}
#sketcher svg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}
.sketcher-window {
  padding: 15px;
  margin-right: 10px;
  position: absolute;
  right: 10px;
  background-color: lightgrey;
}
#sketcher-panel {
  top: 10px;
}
#sketcher-log {
  bottom: 10px;
}
#sketcher-locator {
  top: 40%;
}
